cdsapi==0.5.1
Sphinx==4.3.1
numpy==1.23.1
h5py==3.1.0
psutil==5.8.0
tensorflow==2.9.1
tqdm==4.62.2
matplotlib==3.4.3
ecmwf_api_client==1.6.3
scipy==1.8.1
sphinx_rtd_theme==1.0.0
xarray==0.20.1
opt_einsum==3.3.0
