<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<meta name="description" content="{{ site.description | escape }}">
<meta name="keywords" content="{{ site.keywords | escape }}">
<meta name="author" content="{{ site.author }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
   
<!-- Open Graph meta -->
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ site.description }}" />
{% if site.featured-image %}<meta property="og:image" content="{{ site.featured-image | absolute_url }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:locale" content="en_US" />
<!-- schema.org JSON-LD -->
<script type="application/ld+json">{ "@context":"http://schema.org", "@type":"WebPage", "headline":"{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}", "author": { "@type":"Person", "name":"{{ site.author }}"}, "description":"{{ site.description }}", {% if site.featured-image %}"image": "{{ site.featured-image | absolute_url }}",{% endif %} "url":"{{ page.url | absolute_url }}" }</script>

<link rel="stylesheet" href="{{ '/assets/lib/bootstrap.min.css' | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ '/assets/lib/fontawesome-free/css/all.min.css' | relative_url }}" >
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

{% if site.google_analytics %}{% include template/google-analytics.html %}{% endif %}
