{% comment %}

    Figure include adds an image marked up using bootstrap, https://getbootstrap.com/docs/4.5/content/figures/
    Options:
    - "img" = the filename of the image located in the /images/ folder
    - "caption" = text for caption of the figure
    - "width" = manually set width using options such as "50%" 

{% endcomment %}
<figure class="text-center p-3">
    <img src="{{ include.img | prepend: '/images/' | relative_url }}" alt="{{ include.alt }}" {% if include.width %}style="width:{{ include.width }};"{% endif %} class="figure-img img-fluid rounded">
    {% if include.caption %}<figcaption class="figure-caption">{{ include.caption }}</figcaption>{% endif %}
</figure>
