<footer class="site-footer bg-light">
  <div class="container">
    <nav>
      <ul class="nav justify-content-end">
        {% for section in site.html_pages %}{% if section.nav %}
        <li class="nav-item"><a class="nav-link{% if page.url == section.url %} active{% endif %}" href="{{ section.url | relative_url }}">{{ section.nav }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </nav>
    <div class="row align-items-center pb-3">
        <div class="col-md">
          <a class="h5" href="{{ '/' | relative_url }}">{{ site.title }}</a>
          <br>
          <span class="pl-3"><a href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a> {{ site.pub_year }} <a href="https://github.com/{{ site.github_username }}">{{ site.author }}</a></span>
        </div>
        <div class="col-md">
          {% if site.search == true %}
          <script>
            function site_search() {
              var query = document.getElementById("site-search").value;
              window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
            }
          </script>
          <form class="form-inline my-2 my-lg-0 float-right" role="search" id="search" onsubmit="site_search(); return false;">
            <div class="input-group">
              <input id="site-search" class="form-control" type="text" placeholder="Search" aria-label="Search box">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit"><span class="fas fa-search"></span><span class="sr-only">submit search</span></button>
              </div>
            </div>
          </form>
          {% endif %}
        </div>
    </div>
  </div>
</footer>
