<!-- JS for Bootstrap: jQuery first, then Bootstrap JS bundle -->
<script src="{{ '/assets/lib/jquery-3.5.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- load other optional js -->
{% if page.layout == "search" %}{% include js/lunr-js.html %}{% endif %}
<script>
    // When the user scrolls down from the top of the document, show the button
    window.onscroll = function () {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            document.getElementById("scroll-to-top").style.display = "block";
        } else {
            document.getElementById("scroll-to-top").style.display = "none";
        }
    }
    // scroll to top function
    function scrollToTop() {
        $('html, body').animate({scrollTop: 0}, 750);
    }
</script>
<button id="scroll-to-top" type="button" class="btn btn-link btn-lg" onclick="scrollToTop();" title="Back to Top" aria-label="Back to Top">
    <span class="fas fa-angle-double-up"></span>
</button>
