<nav class="navbar navbar-expand-lg navbar-light bg-light pb-lg-0 border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{% if site.title-icon %}<span class="{{ site.title-icon }} mr-2"></span> {% endif %}{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav nav-tabs justify-content-end">
            {% for section in site.html_pages %}{% if section.nav %}
                <li class="nav-item">
                    <a class="nav-link{% if page.url == section.url %} active{% endif %} p-3" href="{{ section.url | relative_url }}">{{ section.nav }}</a>
                </li>
            {% endif %}{% endfor %}
            </ul>  
        </div>
    </div>
</nav>