# Workflow to deploy Sphinx documentation

name: Sphinx documentation

# Controls when the action will run. 
# Triggers the workflow on any action.
on: 
  push:
    tags:
      - "*"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs commands to create documentation
      - name: Create Sphinx documentation 
        uses: actions/checkout@v2
        with:
          pre-build-command: "python -m pip install pip sphinx_rtd_theme numpy scipy future matplotlib -U"
          docs-folder: "docs/"

      # Deploy documentationa using packages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
          allow_empty_commit: true
